<div class="container gallery-container">
    <div class="row">
        <div class="col">
            <div class="content">
                <div class="main-heading pageHeading">
                    <h1 class="text-black">Gallery</h1>
                </div>
                <div class="row">
                    <div class="galleryBox">
                        <div class="img-Box">
                            <img src="/assets/img/1.jpg" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/2.jpg" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/3.jpg" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/4.jpg" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/5.jpg" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/6.jpg" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/8.jpg" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/13.jpg" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/17.jpg" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/10.jpg" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/11.jpg" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/12.jpg" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/18.jpg" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/19.jpg" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/16.jpg" alt="">
                        </div>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</div>
